#controls {
  display: flex;
  justify-content: flex-end;
}

#avatarContainer {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-color: yellow;
  position: relative;
}
